<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php

/**
*  General template for displaying group of blocks devided into sections
*/

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}';
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')):?>

    <!-- 
    | applied center style to bring the navigation items to center
    | but the mini-cart is getting hidden behind when the nevigation is 
    | moved upwads near the logo 
    -->

    <div style="text-align:center" 
         class="sections <?php /* @escapeNotVerified */ echo $groupCss ?>">
        <?php $layout = $block->getLayout(); ?>
        
        <div class="section-items <?php /* @escapeNotVerified */ echo $groupCss ?>-items"     data-mage-init='<?php /* @escapeNotVerified */ echo $groupBehavior ?>'>
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html) && ($block->getUseForce() != true)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="section-item-title <?php /* @escapeNotVerified */ echo $groupCss ?>-item-title" data-role="collapsible">
                    <a class="<?php /* @escapeNotVerified */ echo $groupCss ?>-item-switch" data-toggle="switch" href="#<?php /* @escapeNotVerified */ echo $alias; ?>"><?php /* @escapeNotVerified */ echo $label; ?></a>
                </div>

                <!-- navigation bar items are looped here -->
                
                <div class="section-item-content <?php echo $groupCss ?>-item-content" 
                     id="<?php echo $alias; ?>" 
                     data-role="content">

                    <?php echo $html; ?>
                    
                </div>
                <!-- vardump($html) -->
            <?php endforeach;?>

        </div>
    </div>
<?php endif; ?>
